<h1>Listing products</h1>

<table>
  <tr>
    <th>Price</th>
    <th>In stock</th>
    <th>Inventory</th>
    <th>Weight</th>
    <th>Width</th>
    <th>Height</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expires</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.price %></td>
    <td><%= product.in_stock %></td>
    <td><%= product.inventory %></td>
    <td><%= product.weight %></td>
    <td><%= product.width %></td>
    <td><%= product.height %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.expires %></td>
    <td>add to cart</td>
    <td>
        <%= form_for :cart_item do |c| %>
            quantity: 1
            <%= c.submit %>
        <% end %>
    </td>
    <form accept-charset="UTF-8" action="/posts" class="new_post" data-remote="true" id="new_post" method="post">
    </form>
</form>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
