<h1>Listing products</h1>

<% if user_signed_in? %>
    <h4>quantinty in cart: <%= @user.cart_items.where(status: CartItem::STATUS_IN_CART).count %> </h4>
  <li>
    currently logged in as <%= @user.email %>
    <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('login', new_user_session_path)  %>
    or
    <%= link_to('sign up', new_user_registration_path)  %>
  </li>
<% end %>

<table>
  <tr>
    <th>Price</th>
    <th>In stock</th>
    <th>Inventory</th>
    <th>Weight</th>
    <th>Width</th>
    <th>Height</th>
    <th>Name</th>
    <th>Description</th>
    <th>Expires</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.price %></td>
    <td><%= product.in_stock %></td>
    <td><%= product.inventory %></td>
    <td><%= product.weight %></td>
    <td><%= product.width %></td>
    <td><%= product.height %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.expires %></td>
    <td>
    <% if( user_signed_in?) %>
        <%= form_tag('cart_items', method: 'create') do %>
            <%= hidden_field_tag(:product_id, product.id) %>
            <%= label_tag(:quantity, 'quantity:') %>
            <% quantity = @user.cart_items.find_by product_id: product.id %>
            <% if quantity then quantity = quantity.quantity else quantity = 1 end %>
            <%= text_field_tag(:quantity, quantity) %>
            <%= submit_tag('add') %>
        <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
